@page "/ProductsTable"
<PageTitle>Таблица продуктов</PageTitle>

@inject IProductService productService

<h3>Продукты</h3>

<QuickGrid Items="_products">
    <PropertyColumn Property="@(p => p.Id)"></PropertyColumn>

    <PropertyColumn Property="@(p => p.Name)" Title="Наименование" Sortable="true"></PropertyColumn>

    <PropertyColumn Property="@(p => p.Cost)" Title="Стоимость" Sortable="true"></PropertyColumn>

    <PropertyColumn Property="@(p => p.Description)" Title="Описание"></PropertyColumn>
</QuickGrid>

@code {
    private IQueryable<Product>? _products = null;

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }


    async Task GetProducts()
    {
        var result = await productService.GetAllProducts();

        if (result is SuccessResult<List<Product>> successResult)
            _products = successResult.Data.AsQueryable();
    }
}
