@inherits LayoutComponentBase
@inject AuthenticationStateProvider stateProvider

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">

    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <span class="px-3">Kaif House</span>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a href="/" class="nav-link px-2 link-secondary">
                <div class="text-dark">Каталог</div>
            </a>
        </li>

        <li>
            <a href="/ProductTypes" class="nav-link px-2 link-secondary">
                <div class="text-dark">Типы товаров</div>
            </a>
        </li>

    </ul>

    <div class="col-md-3 text-end">
        <AuthorizeView>
            <Authorized>
                <div class="mx-3">
                    <span class="text-center m-3">@context.User.Identity!.Name</span>
                    <LogoutButton />
                </div>

            </Authorized>

            <NotAuthorized>
                <div class="mx-3">
                    <span class="m-3">Бро, авторизируйся</span>
                    <Button Color="ButtonColor.Success"
                            Type="ButtonType.Link"
                            To="Login">
                        Войти
                    </Button>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

<main>
    <article class="content">
        <div class="py-2">@Body</div>
    </article>
</main>

@code {


}