@inherits LayoutComponentBase
@inject AuthenticationStateProvider stateProvider


<BaseHeader></BaseHeader>


<main>
    <article class="content">
        <div class="container-fluid">@Body</div>
    </article>
</main>

@code {


}