@inherits LayoutComponentBase
@inject AuthenticationStateProvider stateProvider

<BaseHeader></BaseHeader>


<main>
    <article class="content">
        <div class="">@Body</div>
    </article>
</main>
