
<header>

    <div class="py-2">

        <div class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-between border-bottom">

            
            <a href="/" class="navbar-brand">
                <span class="px-3 fs-5 text-dark text-decoration-none">Kaif House</span>
            </a>

            <ul class="nav justify-content-center">

                <li class="nav-item">
                    <a href="/" class="nav-link px-2 link-secondary">
                        <span class="text-dark fs-5">Каталог</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/ProductTypes" class="nav-link px-2 link-secondary">
                        <span class="text-dark fs-5">Типы товаров</span>
                    </a>
                </li>

                <AuthorizeView Roles="@Roles.Administrator">
                    <Authorized>
                        <li>
                            <Dropdown>
                                <DropdownToggleButton Color="ButtonColor.None"><span class="fs-5">Таблицы</span></DropdownToggleButton>
                                <DropdownMenu>
                                    <DropdownItem To="/ProductsTable" Type="ButtonType.Link">Продукты</DropdownItem>
                                    <DropdownItem To="/ProductTypesTable" Type="ButtonType.Link">Типы товаров</DropdownItem>
                                    <DropdownItem To="/TypePropertiesTable" Type="ButtonType.Link">Свойства типа</DropdownItem>
                                    <DropdownItem To="/PropertyValuesTable" Type="ButtonType.Link">Значения свойств</DropdownItem>
                                    <DropdownDivider>Dropdown header</DropdownDivider>
                                    <DropdownItem To="/UsersTable" Type="ButtonType.Link">Пользователи</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </li>
                    </Authorized>
                </AuthorizeView>

            </ul>


            <div>
                <AuthorizeView>
                    <Authorized>
                        <div class="mx-3">
                            <span class="text-center m-3">@context.User.Identity!.Name</span>
                            <LogoutButton />
                        </div>

                    </Authorized>

                    <NotAuthorized>
                        <div class="mx-3">
                            <span class="m-3">Бро, авторизируйся</span>

                            <Button Color="ButtonColor.Secondary"
                                    Class="m-1"
                                    Type="ButtonType.Link"
                                    To="Login">
                                Войти
                            </Button>

                            <Button Color="ButtonColor.Success"
                                    Type="ButtonType.Link"
                                    To="Registration">
                                Регистрация
                            </Button>

                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>


        </div>

    </div>

</header>


@code {

}
