
<header>

    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                Kaif House
            </a>


            <div class="lc-block collapse navbar-collapse" id="myNavbar4">
                <div lc-helper="shortcode" class="live-shortcode me-auto">
                    <ul id="menu-menu-1" class="navbar-nav">

                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739">
                            <a href="/" class="nav-link ">
                                Каталог
                            </a>
                        </li>


                        <AuthorizeView Roles="@Roles.Administrator">
                            <Authorized>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738">
                                    <a href="/ProductTypes" class="nav-link ">
                                        Типы товаров
                                    </a>
                                </li>

                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown nav-item nav-item-33131">
                                    <a href="#" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Таблицы</a>
                                    <ul class="dropdown-menu  depth_0">
                                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category nav-item nav-item-33132">
                                            <a href="/ProductsTable" class="dropdown-item ">Продукты</a>
                                        </li>
                                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category nav-item nav-item-33132">
                                            <a href="/ProductTypesTable" class="dropdown-item ">Типы товаров</a>
                                        </li>
                                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category nav-item nav-item-33132">
                                            <a href="/TypePropertiesTable" class="dropdown-item ">Свойства типа</a>
                                        </li>
                                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category nav-item nav-item-33132">
                                            <a href="/PropertyValuesTable" class="dropdown-item ">Значения свойств</a>
                                        </li>

                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>

                                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category nav-item nav-item-33132">
                                            <a href="/UsersTable" class="dropdown-item ">Пользователи</a>
                                        </li>
                                    </ul>
                                </li>
                            </Authorized>
                        </AuthorizeView>

                    </ul>
                </div>

            </div>

            <div lc-helper="shortcode" class="live-shortcode ms-auto">
                <div class="navbar-nav d-flex flex-row">
                    <AuthorizeView>
                        <Authorized>
                            <span class="nav-link mx-1">
                                @context.User.Identity!.Name
                            </span>

                            <LogoutButton />
                        </Authorized>

                        <NotAuthorized>
                            <a href="/Login" class="nav-link mx-1">
                                Войти
                            </a>


                            <a href="/Registration" class="nav-link mx-3">
                                Регистрация
                            </a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>


            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#myNavbar4"
                    aria-controls="myNavbar4"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>


        </div>
    </nav>

</header>


