@inject IProductImageService productImageService


@if (Product is not null)
{

    <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="border border-2 border-secondary rounded">

            @if (imageSrc is null)
            {
                <div class="d-flex align-items-center justify-content-center"
                     style="height:200px">
                    <LoadingSpinner></LoadingSpinner>
                </div>
            }
            else
            {
                <a href="Product/@Product.Id" class="text-reset">
                    <img src="@imageSrc"
                         class="img-fluid rounded-top-1"
                         style="max-height:200px; height: 200px; width: 100%" />
                </a>
            }
            <div class="d-flex flex-column justify-content-between"
                 style="min-height: 80px;">
                <h5 class="px-2 mt-2 text-truncate">@Product.Name</h5>
                <div>
                    <span class="fs-5 text-light d-inline-block m-2 px-2 bg-success rounded">
                        @(Product.Cost)р
                    </span>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Product? Product { get; set; }

    private string imageSrc = null!;

    protected override async Task OnInitializedAsync()
    {
        await GetProductImage();
    }

    private async Task GetProductImage()
    {
        imageSrc = null;
        var result = await productImageService.GetFirstImageByProductId(Product!.Id);

        switch (result)
        {
            case SuccessResult<ProductImage> successResult:
                imageSrc = successResult.Data.GetImage()!;
                break;

            case ErrorResult<ProductImage> errorResult:
                imageSrc = "NotFoundImage.jpg";
                break;
        }

    }
}
