@page "/Login"
<PageTitle>Войти</PageTitle>

@attribute [AllowAnonymous]

@inject IUserService userService
@inject NavigationManager navManager
@inject AuthenticationStateProvider stateProvider

<h3>Войти в личный кабинет</h3>

<ErrorModal @ref="modal"></ErrorModal>

<EditForm Model="loginDto" OnValidSubmit="Submit" autocomplete="off">

    <div class="form-floating col-md-3 mb-3">
        <InputText @bind-Value="@loginDto.Email" id="loginDtoEmail" class="form-control" placeholder="test@example.ru"></InputText>
        <label for="loginDtoEmail">Эл. почта</label>
    </div>

    <div class="form-floating col-md-3 mb-3">
        <InputText @bind-Value="@loginDto.Password" type="password" class="form-control" id="loginDtoPass" placeholder="qwerty123"></InputText>
        <label for="loginDtoPass">Пароль</label>
    </div>

    <div class="col-md-6 mt-2">
        <Button Type="ButtonType.Submit" Color="ButtonColor.Success">Войти</Button>
    </div>

</EditForm>

@code {
    private UserLoginDto loginDto = new UserLoginDto();

    private ErrorModal modal = new();

    private async Task Submit()
    {
        var result = await userService.Login(loginDto);

        if (result is ErrorResult<string> errorResult)
        {
            await modal.ShowModal(errorResult);
            return;
        }


        var customStateProvider = (CustomAuthStateProvider)stateProvider;

        await customStateProvider.UpdateAuthState(result.Data);

        navManager.NavigateTo("/");
    }
}
