@inject AuthenticationStateProvider stateProvider

<Button Color="ButtonColor.Secondary" @onclick="Logout">Выйти</Button>

@code {
    [CascadingParameter]
    MainLayout? _mainLayout { get; set; }


    private async Task Logout()
    {
        var customStateProvider = (CustomAuthStateProvider)stateProvider;

        await customStateProvider.UpdateAuthState(string.Empty);

        await _mainLayout!.RefreshSidebar();
    }
}
