@inject AuthenticationStateProvider stateProvider

<Button Class="nav-link mx-3" @onclick="Logout">Выйти</Button>

@code {

    private async Task Logout()
    {
        var customStateProvider = (CustomAuthStateProvider)stateProvider;

        await customStateProvider.UpdateAuthState(string.Empty);
    }
}
