@page "/TypePropertiesTable"
<PageTitle>Таблица свойств</PageTitle>

@attribute [Authorize(Roles = Roles.Administrator)]

@inject ITypePropertyService typePropertyService

<h3>Свойства</h3>

@if (typeProperties is null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <QuickGrid Items="typeProperties" Class="w-auto table table-striped table-bordered">
        <PropertyColumn Property="@(p => p.Id)"></PropertyColumn>

        <PropertyColumn Property="@(p => p.Name)" Title="Наименование" Sortable="true"></PropertyColumn>

        <PropertyColumn Property="@(p => p.TypeId)" Title="id типа"></PropertyColumn>
    </QuickGrid>
}

@code {
    private IQueryable<TypeProperty>? typeProperties = null;

    protected override async Task OnInitializedAsync()
    {
        await GetTypeProperties();
    }


    async Task GetTypeProperties()
    {
        var result = await typePropertyService.GetAllTypeProperties();

        if (result is SuccessResult<List<TypeProperty>> successResult)
            typeProperties = successResult.Data.AsQueryable();
    }
}
